/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
}

/* Logo */
.logo img {
    width: 100px;
    margin-bottom: 20px;
}

/* Form Container */
.form-container {
    margin-top: 10px;
}

/* Form Labels and Inputs */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    color: #111;
    cursor: pointer;
    border-radius: 3px;
}

.submit-btn:hover {
    background-color: #e3b543;
}

/* Text and Links */
p {
    font-size: 14px;
}

a {
    color: #0066c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
